* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/* navbar */
.navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10vh;
  padding: 20px 40px;
}
.navbar h1 {
  text-align: center;
  /* margin-bottom: 20px; */
}
.navbar .menu .link_list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.navbar .menu .link_list a {
  color: black;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
@media (max-width: 900px) {
  .menu {
    position: absolute;
    z-index: 999999;
    right: 0;
    top:10vh;
    width: 100%;
    height: 90vh;
    transform: translateX(-100%);
  }
  .navbar{
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .navbar .menu .link_list{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    gap:30px;
    background-color: #ffffff;
    padding: 30px;
  }
  .navbar.hamburger {
    display: block;
    cursor: pointer;
    transition: all 0.3s ease-in;
  }
  .navbar .hamburger div {
    background-color: black;
    width: 30px;
    height: 3px;
    margin-bottom: 3px;
  }
  .nav-active{
    transform:translateX(0);
  }
  .toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
  }
  .toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
  }
  .toggle .line2{
    opacity: 0;
  }
}
/* hero section */
.hero_section {
  width: 100%;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:50px 0px;
}
.hero_section .hero_content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.hero_section .hero_content p {
  color: #967675;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}
.hero_section .hero_content h1 {
  font-family: "Playfair Display", serif;
  font-size: 80px;
  font-weight: 700;
  line-height: 100px;
}
.hero_section .hero_content h1 span {
  font-weight: 400;
}
.hero_section .hero_content button {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #967675;
  border: 1px solid #cfadac;
  background: #ffffff;
  width: 185px;
  height: 61px;
  border-radius: 5px;
}
.hero_section .hero_img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero_section .hero_img .hero_image1 {
  position: absolute;
  top: 120px;
  width: 200px;
}
.hero_section .hero_img .hero_bottom {
  width: 200px;
  bottom: -100px;
  position: relative;
}
@media (max-width: 900px) {
  .hero_section {
    flex-direction: column-reverse;
    gap: 134px;
  }
  .hero_section .hero_img {
    width: 100%;
  }
  .hero_section .hero_content {
    width: 100%;
  }
  .hero_section .hero_content h1 {
    font-size: 65px;
    line-height: 81px;
  }
}

/* list section */
.list_section {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 100px 100px;
}
.list_section .list {
  width: 33.33%;
}
.list_section .list span {
  color: #967675;
  padding: 5px;
}
.list_section .list h2 {
  color: #111111;
  font-family: "Playfair Display";
  font-size: 30px;
  font-style: italic;
  font-weight: 400;
  line-height: 50.65px;
  text-align: left;
  margin-bottom: 10px;
}
.list_section .list p {
  color: #9d8888;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 26.54px;
  text-align: left;
  padding-left: 40px;
}

@media (max-width: 900px) {
  .list_section .list {
    width: 100%;
  }
  .list_section {
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px 60px;
  }
}
/* image with text */
.image_text {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;
  padding: 50px 50px;
  margin-bottom: 50px;
}
.image_text img {
  width: 50%;
}
.image_text .image_content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 35px;
}
.image_text .image_content p {
  color: #967675;
  font-family: "Poppins";
  font-size: 32px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
}
.image_text .image_content h2 {
  font-family: "Playfair Display";
  font-size: 130px;
  font-weight: 700;
  line-height: 110px;
  text-align: left;
}
.image_text .image_content button {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #967675;
  border-radius: 5px;
  border: 1px solid #cfadac;
  background: #ffffff;
  width: 185px;
  height: 61px;
}
@media (max-width: 900px) {
  .image_text {
    flex-direction: column;
  }
  .image_text img {
    width: 100%;
  }
  .image_text .image_content {
    width: 100%;
  }
  .image_text .image_content h2 {
    font-size: 90px;
  }
}
/* list of items */
.list_items {
  width: 100%;
}
.list_items .item_heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.list_items .item_heading p {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  color: #967675;
}
.list_items .item_heading h2 {
  font-family: "Playfair Display";
  font-size: 102px;
  font-weight: 700;
  line-height: 110px;
  text-align: center;
  color: #111111;
}
.list_items .item_container {
  padding: 100px 122px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}
.list_items .item_container .items_list_1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-bottom: 50px;
}
.list_items .item_container .items_list_2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-top: 50px;
}
.list_items .item_container .items_list_1 img {
  width: 100%;
}
.list_items .item_container .items_list_2 img {
  width: 100%;
}
.list_items .item_container .items_list_1 .items_content {
  background-color: #f6ece8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.list_items .item_container .items_list_2 .items_content {
  background-color: #f6ece8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.list_items .item_container .items_list_1 .items_content h3 {
  font-family: "Playfair Display";
  font-size: 48px;
  font-style: italic;
  font-weight: 400;
  line-height: 63.98px;
  text-align: center;
  color: #967675;
}

.list_items .item_container .items_list_1 .items_content p {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 26.54px;
  text-align: center;
  color: #967675;
}
.list_items .item_container .items_list_2 .items_content h3 {
  font-family: "Playfair Display";
  font-size: 48px;
  font-style: italic;
  font-weight: 400;
  line-height: 63.98px;
  text-align: center;
  color: #967675;
}

.list_items .item_container .items_list_2 .items_content p {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 26.54px;
  text-align: center;
  color: #967675;
}

@media (max-width: 900px) {
  .list_items .item_container {
    flex-wrap: wrap;
    gap: 1px;
  }
  .list_items .item_container .items_list_1 {
    width: 100%;
  }
  .list_items .item_container .items_list_2 {
    width: 100%;
  }
  .list_items .item_heading h2 {
    font-size: 90px;
  }
}
/* newsletter */
.newsletter_container {
  background-color: #f9f2ef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  width: 100%;
}
.newsletter_container .newsletter_content p {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  color: #967675;
}
.newsletter_container .newsletter_content h4 {
  font-family: "Playfair Display";
  font-size: 102px;
  font-weight: 700;
  line-height: 110px;
  text-align: center;
  color: #23242c;
}
.newsletter_container .newsletter_inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.newsletter_container .newsletter_inputs.submit_button {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #967675;
  background-color: #ffffff;
  border: 1px solid #cfadac;
}
.newsletter_container .newsletter_inputs .input_text {
  background-color: transparent;
  border-width: 0 0 1px;
  width: 600px;
  height: 40px;
  color: #dccbc6;
}
.input_text::placeholder {
  color: #dccbc6;
  font-size: 30px;
}
.newsletter_container .newsletter_inputs .submit_button {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #967675;
  background-color: white;
  width: 185px;
  height: 61px;
  border: 1px solid #967675;
  border-radius: 5px;
  margin-left: 20px;
}
@media (max-width: 900px) {
  .newsletter_container .newsletter_inputs {
    flex-direction: column;
    padding-left: 100px;
  }
  .newsletter_container .newsletter_inputs .submit_button {
    margin: 22px 100px;
  }
  .newsletter_container .newsletter_inputs .input_text {
    width: 400px;
  }
  .newsletter_container .newsletter_content h4 {
    font-size: 70px;
  }
}
/* footer */
.footer_container {
  width: 100%;
  background-color: #23242c;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 100px 100px;
}
.footer_container .footer_1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 200px;
}
.footer_container .footer_1 .footer_text_1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  color: #ffffff;
}

.footer_container .footer_1 .footer_text_1 p {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
}
.footer_container .footer_1 .footer_text_2 p {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: #ffffff;
  text-align: left;
}
.footer_container .footer_2 {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 200px;
  padding: 20px 50px;
}
.footer_container .footer_2 .footer_items {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #ffffff;
}
@media (max-width: 900px) {
  .footer_container {
    flex-direction: column;
    gap: 50px;
    padding: 50px 80px;
  }
  .footer_container .footer_1 {
    flex-direction: column;
    gap: 50px;
  }
  .footer_container .footer_2 {
    flex-direction: column;
    padding: 0px;
    gap: 30px;
  }
}
